/*==============================footer=============================*/
footer{

	list-style: none;
	background-color: #212529;
	text-align: center;
	padding:16px;
	width: 100%;
	left: 0;
	position: fixed;
	bottom: 0;
	height: 5em;
}
footer a{
	display: inline-block;
	padding: 6em;
	padding-top: 0;
	font-size: 18px;
	text-decoration: overline;
	color: #fff;
	font-weight: bold;
}
footer a:hover{
	color: #fff;
	text-decoration: inherit;
}
footer a:visited{
	color: #fff;
	text-decoration: inherit;
}
footer a:last-child{
	border-right: none;
}
/*============================================footer end===============================*/