h6{
	margin-top: 3em;
	text-align: center;
	font-size: 32px;
	color: #fff;

}
h5{
	text-align: center;
	font-size: 24px;
}
h4{
	text-align: center;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 24px;
	text-decoration: underline;
	color: #fff;
	margin-top: 4.5em;
	margin-bottom: 0;

}
h3{
	color: #fff;
	text-align: center;
	margin-top: 10em;
	font-weight: bold;
	font-size: 32px;
}
h2{
	color:#fff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
}
h1{
	text-align: center;
	color: #fff;
	background-color: #212529;
	margin: auto;
	line-height: 3em;
	position: fixed;
	width: 100%;
	margin: 0;
	top: 0;
	left: 0;
	z-index: 1;
}
.header h1 span a{
	color: #7cfc00;
	float: right;
	text-transform: uppercase;
	text-align: right;
	margin-right: 2em;
	font-weight: bold;
	font-size: 0.6em;
	text-decoration: none;
}
.header span a:hover{
	color: #fff;
	text-decoration: none;


}
