table {
  border-collapse: collapse;
  padding: 2em;
  width: 90%;
  text-align: center;
  font-family: all;
  font-size: 2em;
  margin-top: 3em;
  margin-right: 0%;
  margin-left: 10%;
  }

th,td 
{
  padding: 1em;
  vertical-align: top;
  border-top: 3px solid #dee2e6;
  text-align: center;
}
tr,td:hover{
  color: inherit;
}
